.about-me {
  &-title {
    margin-bottom: 100px;
  }
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__skill-box {
      width: 300px;
    }
    &__skills {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      &-img {
        color: var(--white);
        font-size: 8rem;
        &-html {
          color: #f16529;
        }
        &-js {
          color: #f0db4f;
        }
        &-bugs {
          color: var(--button-color);
        }
      }
    }
    &__image {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../assets/img/avatar.jpg");
      margin-bottom: 20px;
    }
    &__profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)

@media (max-width: 575.98px) {
  :root {
    --container: 100vw;
  }
  .about-me {
    &-content {
      flex-direction: column;
      &__image {
        width: 250px;
        height: 250px;
      }
      &__skills {
        margin-top: 50px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  :root {
    --container: 540px;
  }
  .about-me {
    &-content {
      flex-direction: column;
      &__skills {
        margin-top: 50px;
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 992px) {
  :root {
    --container: 720px;
  }
  .about-me {
    &-content {
      &__image {
        width: 250px;
        height: 250px;
      }
    }
  }
}
