.header {
  &-img {
    background-image: url("../assets/img/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    &--opacity {
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      position: relative;
      top: 0;
      left: 0;
    }
  }
  &-nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    &__menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      &-burger-btn {
        display: none;
      }
      &-line {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 4px;
        background-color: #fff;
      }
      &-item {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
      font-size: 3rem;
      margin-bottom: 10px;
    }
    &__subtitle {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  :root {
    --container: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  :root {
    --container: 540px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  :root {
    --container: 720px;
  }
  .header {
    &-nav {
      &__menu-list {
        display: none;
        &--active {
          display: block;
          animation: menuOpen 1s;
        }
      }
      &__menu-burger-btn {
        display: block;
      }
    }
  }
}
